@value makerGreen, makerLightGrey from '../../common/colors.css';

.editor {
  padding: 0.5em 2em;
  flex-basis: 50%;
  border-right: 0.1em solid makerLightGrey;
}

.title {
  margin-bottom: 1em;
  text-align: center;
  color: makerGreen;
}