@value makerGreen from '../../common/colors.css';

.preview {
  flex-basis: 50%;
}

.title {
  width: 100%;
  margin-bottom: 1em;
  text-align: center;
  color: makerGreen;
}

.cards {
  padding: 0.5em 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}