@value makerLightGrey, makerMagenta, makerLightSlateGray from '../../common/colors.css';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: none;
}

.button {
  width: 100%;
  height: 100%;
  border: 0;
  font-weight: 900;
  background-color: makerLightGrey;
}

.blue {
  background-color: makerLightSlateGray;
}

.button:hover {
  opacity: 0.8;
}

.loading {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 0.25em solid makerLightGrey;
  border-top: 0.25em solid makerMagenta;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
