@value makerGreen, makerWhite, makerLightPink from '../../common/colors.css';

.login {
  text-align: center;
  background-color: makerWhite;
}

.btn {
  width: 90%;
  height: 2.5em;
  margin-bottom: 1em;
  border: 0.2em solid makerGreen;
  border-radius: 1em;
}

.btn:hover {
  background-color: makerLightPink;
}
